/* header.css */
@media (min-width: 1000px) {
header {
    padding-top: 30px;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2; 
    padding: 20px 0; 
  }
  
  .container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Logo styles */
  .logo {
    width: 40%;
    display: flex;
    justify-content: center;
  }
  
  .logo img {
    height: 150px; /* Logo size */
  }
  
  /* Navigation styles for desktop */
  nav {
    display: flex;
    gap: 24px;
    width: 60%;
    justify-content: center;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 18px; /* Font size */
    color: #F6F5F2;
    transition: color 0.2s ease-in-out;
  }
  
  .nav-links a:hover {
    background-color: #F6F5F2;
    color: #cf04be!important;
  }

  .mobile-menu{
    display: none;
  }

  .hamburger{
    display: none;
  }

}