body{
    overflow: hidden;
    background: #020202;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* background-image: url('grafika/tlo_meu.png'); */
    padding: 0px 0px;
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    color: white;
}
img{
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: #020202;
    transform: translateX(-50%);
}
.left-side{
    position: relative;
}
.left-side::before{
    content: '';
    width: 10px;
    height: 100%;
    background-color: #ff00a6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}
main{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 30px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

}
.main-box{
    min-width: 50%;
    max-width: 90%;
    height: auto;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    background-color: #020202;
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
@media (max-width: 800px) {
    h1{
        font-size: 30px!important;
    }
    p{
        font-size: 18px!important;
    }
    a{
        font-size: 18px!important;
    }
  }
p{
    margin: 5px 0px;
    font-size: 20px;
}
h1{
    font-size: 40px;
    margin: 10px 0px;
}
a{
    display: block;
    text-align: right;
    margin: 20px 0 20px 0;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .4s ease;
    letter-spacing: 5px;
}
a:hover{
    color: white;
    background-color: #ff00a6;
    transform: translateX(8px);
}
.highlight {
    color: #ff00a6;
    transform: translateX(8px);
}
.arr{
    color: #ffffff;
    margin-right: 10px;
    transition: .4s ease;
}

.typewriter {
    display: inline-block;
    position: relative;
  }

.cursor {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #ff69b4; 
    margin-left: 5px;
    animation: blink 0.7s infinite;
    position: absolute;
    top: 0;
    left: 100%;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}
.box {
  background: #020202;
  margin: 1px;
  transition: .4s ease;
  display: inline-block;
}
.box:hover{
    background-color: #ff00a6!important;
    z-index: 2
}